//using Microsoft.AspNetCore.Mvc;
//using System.ComponentModel.DataAnnotations;

//namespace WebApplication3.Controllers
//{
//    [ApiController]
//    [Route("[controller]")]
//    public class   DefaultControllerr : ControllerBase
//    {
        
//        [HttpGet("sum")]
//        public int sum(int a , int b)
//        {
//            return (a + b);
//        }
//    }
//}

using Microsoft.AspNetCore.Mvc;
namespace WebApplication3.Controllers
{

    [ApiController]
    [Route("[controller]")]
    public class DefaultController : ControllerBase
    {
        public static List<string> Users = new List<string>
        {
         "n"
        };

        [HttpGet("get")]
        public List <string> Get()
        {
            return Users;
        }

        [HttpPost("add")]
        public void adduser(string username)
        {
           Users.Add (username);
        }


    }
}









